site:
  title: Neo4j + Databricks UC Federation
  url: https://neo4j-partners.github.io/neo4j-uc-integration
  start_page: neo4j-uc-integration-docs::index.adoc

content:
  sources:
  - url: .
    branches: HEAD
    start_path: docs

ui:
  bundle:
    url: https://gitlab.com/antora/antora-ui-default/-/jobs/artifacts/HEAD/raw/build/ui-bundle.zip?job=bundle-stable
    snapshot: true
  supplemental_files: ./supplemental-ui

asciidoc:
  attributes:
    experimental: ''
    idprefix: ''
    idseparator: '-'
    source-highlighter: highlight.js

output:
  dir: ./build/site
  clean: true
